# Yashil makon AI

## Collecting data

In [2]:
#! pip install pandas
 
import pandas as pd

In [4]:

df = pd.read_csv('test.csv')
df

,date,day_part,air_temp_mean,air_temp_min,air_temp_max,air_hum_mean,air_hum_min,air_hum_max,soil_moist_mean,soil_moist_min,soil_moist_max,watering_24h,watering_2d,watering_in_3d,watering_in_1w,start_time_min,duration
0,2025-12-01,morning,21.7,18,25,39.3,33,49,31.0,27,38,0,0,0,0,0,0
1,2025-12-01,noon,20.5,18,23,40.2,31,48,34.5,28,38,0,0,0,0,0,0
2,2025-12-01,evening,21.7,18,25,42.2,31,49,32.8,25,37,0,0,0,0,0,0
3,2025-12-01,night,22.0,20,25,40.5,35,45,32.2,25,36,0,0,0,0,0,44
4,2025-12-02,morning,21.2,19,23,41.7,30,48,33.5,26,40,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2025-12-29,night,21.7,18,25,40.5,34,50,30.5,26,39,0,48,101,180,0,0
116,2025-12-30,morning,22.3,20,25,43.5,39,49,31.2,26,40,42,42,90,198,0,0
117,2025-12-30,noon,19.8,18,24,41.0,33,50,30.8,26,37,42,42,90,198,0,0
118,2025-12-30,evening,20.7,18,23,38.2,34,50,33.3,29,37,42,42,90,198,3,39
119,2025-12-30,night,21.8,20,25,40.2,31,49,34.7,26,39,42,42,90,198,0,0